*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: linear-gradient(to bottom right, #0c1f0e, #000000); 
}
.card{
    background: #77a1d3;
  background: -webkit-linear-gradient(to right, #77a1d3, #79cbca, #e684ae);
  background: linear-gradient(to right, #77a1d3, #79cbca, #e684ae); 
}
